<body>

    <div class="body-content center">
        <div id="about-section">
            <h1>About Us Page</h1>
            <p>Some text about who we are and what we do.</p>
        </div>

        <div id="about">
            <h2 class="text-center">Our Team</h2>
            <div class="row">
                <div class="column">
                    <div class="card">
                        <img src="https://media-exp1.licdn.com/dms/image/C5103AQE88RvtKCKgyw/profile-displayphoto-shrink_200_200/0/1584244952345?e=1625097600&v=beta&t=M01iVT3iL3qdpi8Z0dQZFwdAYuPmkI9RdWBZuhVRUVY" alt="Photo" style="width:100%">
                        <div class="container">
                            <h2>Shreya Uday</h2>
                            <p class="title">Graduate Student</p>
                            <p>
                                I was responsible for getting the APIs, the Razor content, Chart.js JavaScript work.
                            </p>
                            <p>shreyauday@usf.edu</p>
                            <p><button class="button">Contact: +1(970)402-1163</button></p>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="card">
                        <img src="https://avatars.githubusercontent.com/u/49741950?v=4" alt="Photo" style="width:100%">
                        <div class="container">
                            <h2>Tatyanna Villegas</h2>
                            <p class="title">Graduate Student</p>
                            <p>
                                Created initial Chart.js functionality, was a resource for API endpoints, and created User Interface to match webpage Look and Feel.
                            </p>
                            <p>elizabeth109@usf.edu</p>
                            <p><button class="button">Contact: +1(813)401-5859</button></p>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="card">
                        <img src="https://media-exp1.licdn.com/dms/image/C4E03AQG4xilxlqFF7g/profile-displayphoto-shrink_800_800/0/1568135918319?e=1625097600&v=beta&t=iweDkhWA-_yWw7jDyzsHCdbCHQi52EqmMUj8De_cCYE" alt="Photo" style="width:100%">
                        <div class="container">
                            <h2>Khubaib Farooq</h2>
                            <p class="title">Graduate Student</p>
                            <p>
                                Khubaib is graduating with a MS in Business Analytics and Information Systems.
                                His future plans include working as a Business Consultant and lift his home country of
                                Pakistan out of poverty.
                            </p>
                            <p>khubaibf@usf.edu</p>
                            <p><button class="button">Contact: +1(813)573-7595</button></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center">
            <br>
            <h2>Data Model</h2>
            <img id="erd" class="center image" src="https://raw.githubusercontent.com/GitHubUzr/Assignment_LookAndFeel/master/img/ER%20Diagram.png">
            <br>
            <h2>Git Log</h2>
            <p>The output shows the following command, for all team members.</p>
            <p id="git">git log --author=&lt;Github_ID&gt; --pretty=tformat: --numstat</p>
        </div>
    </div> <!-- body content end-->

    <div class="flex-container flex-center">
        <div>
            <h5 class="text-center">Shreya</h5><pre>
        4       0       API_Assignment.csproj
        5       0       Controllers/HomeController.cs
        5       0       Controllers/APIHandler.cs
        114     0       Views/Home/FoodBase.cshtml
        54      0       Views/Home/Food.cshtml
        12      0       Model/Mymodel.cs
        8       0       Model/Nutrient.cs
        5       0       Model/foodNutrients.cs
        25      118     Views/Home/Index.cshtml</pre>
        </div>
        <div>
            <h5 class="text-center">Tatyanna</h5><pre>
        146     156     Views/Home/aboutus.cshtml
        0       7       Views/Home/Food.cshtml
        13      0       Views/Home/Index.cshtml
        4       0       API_Assignment.csproj
        16      1       Views/Shared/_Layout.cshtml
        258     0       wwwroot/css/main.css</pre>
        </div>
        <div><h5 class="text-center">Khubaib</h5><pre>-    -    -</div>
    </div> <!-- flex end-->

</body>
